.photo-info__name {
  @include font (700, 14px, 24px, $basic-black);
}

.photo-info__author {
  @include font (400, 14px, 24px, $dark-grey);
}

.photo-info__author-name {
  font-style: normal;
}

.photo-info__like {
  width: 23px;
  height: 21px;
  background: url("../img/catalog/like-icon.svg") no-repeat center;
  border: none;
}

.photo-info__like-counter {
  @include font (700, 14px, 24px, $basic-black);
}
