@media (min-width: $tablet) {
  .reason-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .reason-one__info {
    grid-column: 1/2;
  }

  .reason-one__picture {
    grid-column: 2/-1;
  }

  .reason-one__list {
    grid-column: 1/-1;
    display: flex;
  }
}

.reason-one__picture {
  display: block;
}

.reason-one__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reason-one__item {
  margin: 0 0 26px 69px;
  position: relative;
}

.reason-one__item-title {
  @include font (700, 18px, 26px, $basic-black);
  text-align: left;
}

.reason-one__item-description {
  @include font (400, 14px, 21px, $basic-black);
  text-align: left;
}

.reason-one__item--housing::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  background-image: url("../img/index/icon-house.svg");
}

.reason-one__item--souvenir::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 38px;
  background-image: url("../img/index/icon-gift.svg");
}

.reason-one__item--souvenir {
  @media (min-width: $tablet) {
    order: 3;
  }
}

.reason-one__item--food::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 35px;
  background-image: url("../img/index/icon-burger.svg");
}

.reason-one__item::before {
  top: 5px;
  left: -52px;
}
