.header-decoration {
  position: relative;
  height: 389px;
  justify-content: center;
  background: url("../img/index/intro-words.svg") no-repeat 50% 90px / 282px 214px,
    url("../img/intro-bottom.svg") no-repeat 50% 100%,
    url("../img/index/intro-back.jpg") no-repeat 50% 0% / 900px 389px;

  @media (min-resolution: 2dppx) {
    background: url("../img/index/intro-words.svg") no-repeat 50% 90px / 282px 214px,
      url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/index/intro-back@2x.jpg") no-repeat 50% 0% / 900px 389px;
  }

  @media (min-width: $tablet) {
    height: 517px;
    background: url("../img/index/intro-words.svg") no-repeat calc(50% - 1px) 77px / 461px 350px,
      url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/index/intro-back-tabet-desktop.jpg") no-repeat 50% 0% / 1200px 518px;

    @media (min-resolution: 2dppx) {
      background: url("../img/index/intro-words.svg") no-repeat calc(50% - 1px) 77px / 461px 350px,
        url("../img/intro-bottom.svg") no-repeat 50% 100%,
        url("../img/index/intro-back-tabet-desktop@2x.jpg") no-repeat 50% 0% / 1200px 518px;
    }
  }

  @media (min-width: $desktop) {
    height: 517px;
    background: url("../img/index/intro-words.svg") no-repeat calc(50% - 1px) 78px / 461px 350px,
      url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/index/intro-back-tabet-desktop.jpg") no-repeat 50% 0% / 1200px 518px;

    @media (min-resolution: 2dppx) {
      background: url("../img/index/intro-words.svg") no-repeat calc(50% - 1px) 78px / 461px 350px,
        url("../img/intro-bottom.svg") no-repeat 50% 100%,
        url("../img/index/intro-back-tabet-desktop@2x.jpg") no-repeat 50% 0% / 1200px 518px;
    }
  }
}

.header-decoration--secondary {
  height: 158px;
  justify-content: center;
  background: url("../img/intro-words-secondary.svg") no-repeat 50% 51px / 230px 40px,
    url("../img/intro-bottom.svg") no-repeat 50% 101% / 1201px 58px,
    url("../img/form/secondary-intro-back.jpg") no-repeat 50% 100% / 902px 214px;

  @media (min-resolution: 2dppx) {
    background: url("../img/intro-words-secondary.svg") no-repeat 50% 51px / 230px 40px,
      url("../img/intro-bottom.svg") no-repeat 50% 101% / 1201px 58px,
      url("../img/form/secondary-intro-back@2x.jpg") no-repeat 50% 100% / 902px 214px;
  }

  @media (min-width: $tablet) {
    height: 290px;
    background: url("../img/intro-words-secondary.svg") no-repeat calc(50% + 1px) 94px / 457px 79px,
      url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/form/secondary-intro-back-tablet-desktop.jpg") no-repeat 50% 100% / 1200px 518px;

    @media (min-resolution: 2dppx) {
      background: url("../img/intro-words-secondary.svg") no-repeat calc(50% + 1px) 94px / 457px 79px,
        url("../img/intro-bottom.svg") no-repeat 50% 101% / 1201px 58px,
        url("../img/form/secondary-intro-back-tablet-desktop@2x.jpg") no-repeat 50% 100% / 1200px 518px;
    }
  }

  @media (min-width: $desktop) {
    height: 301px;
    background: url("../img/intro-words-secondary.svg") no-repeat calc(50% - 3px) 101px / 459px 80px,
      url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/form/secondary-intro-back-tablet-desktop.jpg") no-repeat 50% 100% / 1200px 518px;

    @media (min-resolution: 2dppx) {
      background: url("../img/intro-words-secondary.svg") no-repeat calc(50% - 3px) 101px / 459px 80px,
        url("../img/intro-bottom.svg") no-repeat 50% 101% / 1201px 58px,
        url("../img/form/secondary-intro-back-tablet-desktop@2x.jpg") no-repeat 50% 100% / 1200px 518px;
    }
  }
}
