.header-decoration {
  display: flex;
  justify-content: center;
  position: relative;
  height: 389px;
  background: url("../img/intro-bottom.svg") no-repeat 50% 100%,
    url("../img/index/intro-back.jpg") no-repeat 50% 0% / 900px 389px,
    $header-decoration-back;

  @media (min-resolution: 2dppx) {
    background: url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/index/intro-back@2x.jpg") no-repeat 50% 0% / 900px 389px,
      $header-decoration-back;
  }

  @media (min-width: $tablet) {
    height: 517px;
    background: url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/index/intro-back-tabet-desktop.jpg") no-repeat 50% 0% / 1200px 518px,
      $header-decoration-back;

    @media (min-resolution: 2dppx) {
      background: url("../img/intro-bottom.svg") no-repeat 50% 100%,
        url("../img/index/intro-back-tabet-desktop@2x.jpg") no-repeat 50% 0% / 1200px 518px,
        $header-decoration-back;
    }
  }

  @media (min-width: $desktop) {
    height: 517px;
    background: url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/index/intro-back-tabet-desktop.jpg") no-repeat 50% 0% / 1200px 518px,
      $header-decoration-back;

    @media (min-resolution: 2dppx) {
      background: url("../img/intro-bottom.svg") no-repeat 50% 100%,
        url("../img/index/intro-back-tabet-desktop@2x.jpg") no-repeat 50% 0% / 1200px 518px,
        $header-decoration-back;
    }
  }
}

.header-decoration--secondary {
  height: 158px;
  background: url("../img/intro-bottom.svg") no-repeat 50% 101% / 1201px 58px,
    url("../img/form/secondary-intro-back.jpg") no-repeat 50% 100% / 902px 214px,
    $header-decoration-back;

  @media (min-resolution: 2dppx) {
    background: url("../img/intro-bottom.svg") no-repeat 50% 101% / 1201px 58px,
      url("../img/form/secondary-intro-back@2x.jpg") no-repeat 50% 100% / 902px 214px,
      $header-decoration-back;
  }

  @media (min-width: $tablet) {
    height: 290px;
    background: url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/form/secondary-intro-back-tablet-desktop.jpg") no-repeat 50% 100% / 1200px 518px,
      $header-decoration-back;

    @media (min-resolution: 2dppx) {
      background: url("../img/intro-bottom.svg") no-repeat 50% 101% / 1201px 58px,
        url("../img/form/secondary-intro-back-tablet-desktop@2x.jpg") no-repeat 50% 100% / 1200px 518px,
        $header-decoration-back;
    }
  }

  @media (min-width: $desktop) {
    height: 301px;
    background: url("../img/intro-bottom.svg") no-repeat 50% 100%,
      url("../img/form/secondary-intro-back-tablet-desktop.jpg") no-repeat 50% 100% / 1200px 518px,
      $header-decoration-back;

    @media (min-resolution: 2dppx) {
      background: url("../img/intro-bottom.svg") no-repeat 50% 101% / 1201px 58px,
        url("../img/form/secondary-intro-back-tablet-desktop@2x.jpg") no-repeat 50% 100% / 1200px 518px,
        $header-decoration-back;
    }
  }
}

.header-decoration__banner {
  margin-top: 90px;

  &-svg {
    width: 282px;
    height: 214px;
  }

  @media (min-width: $tablet) {
    margin-top: 77px;

    &-svg {
      width: 461px;
      height: 350px;
      margin-right: 1px;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 78px;

    &-svg {
      width: 459px;
      height: 350px;
      margin-right: 1px;
    }
  }
}

.header-decoration__banner-secondary {
  margin-top: 52px;

  &-svg {
    width: 230px;
    height: 39px;
  }

  @media (min-width: $tablet) {
    margin-top: 94px;

    &-svg {
      width: 457px;
      height: 79px;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 101px;

    &-svg {
      width: 459px;
      height: 79px;
      margin-right: 3px;
    }
  }
}
