.logo-decoration {
  width: 320px;
  height: 389px;
  background-size: 320px 389px;
  background-image: url("../img/index/m-sedona-intro.jpg");
}

.logo-decoration--background {
  width: 320px;
  height: 158px;
  background-size: 320px 389px;
  background-image: url("../img/form/m-form-intro.jpg");
}
