.main-nav__container--hidden {
  @media (max-width: $mobile) {
    display: none;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition-duration: 1s;
    transition-property: height;
  }
}

.main-nav__container--visible {
  @media (max-width: $mobile) {
    height: 224px;
  }
}

@media (min-width: $tablet) {
  .main-nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "one two . three four";
  }

  .main-nav__item:nth-child(1) {
    grid-area: one;
  }

  .main-nav__item:nth-child(2) {
    grid-area: two;
  }

  .main-nav__item:nth-child(3) {
    grid-area: three;
    padding-left: 7px;
  }

  .main-nav__item:nth-child(4) {
    grid-area: four;
  }
}

.main-nav__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  padding: 17px 20px 15px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__close-button:hover .main-nav__close-cross {
  opacity: 0.6;
}

.main-nav__close-button:active .main-nav__close-cross {
  opacity: 0.3;
}

.main-nav__close-cross {
  stroke: $basic-white;
}

.main-nav__controls {
  text-align: right;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__open-button {
  background-color: transparent;
  border: none;
  padding: 16px 20px 13px;
}

.main-nav__open-lines {
  stroke: $basic-blue;
}

.main-nav__open-button:hover .main-nav__open-lines {
  opacity: 0.6;
}

.main-nav__open-button:active .main-nav__open-lines {
  opacity: 0.3;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item:last-of-type .main-nav__link {
  background: $nav-color linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%) no-repeat bottom / 100% 9px;

  @media (min-width: $tablet) {
    background: transparent;
    box-shadow: none;
  }
}

.main-nav__link {
  @include font (700, 18px, 40px, $basic-white);
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-bottom: 6px;
  background-color: $nav-color;
  box-shadow: inset 0 -1px 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet) {
    @include font (700, 14px, 26px, $basic-black);
    padding-top: 15px;
    padding-bottom: 15px;

    &:hover {
      color: $hover-blue;
    }

    &:active {
      color: $basic-t-black;
    }
  }

  @media (min-width: $tablet) {
    background: transparent;
    box-shadow: none;
  }
}

@media (max-width: $mobile) {
  .main-nav__link:hover,
  .main-nav__item:last-of-type .main-nav__link:hover {
    background-color: $hover-blue;
  }

  .main-nav__link:active,
  .main-nav__item:last-of-type .main-nav__link:active {
    background-color: $item-down-blue;
    color: $basic-t-white;
  }
}
