.main-header {
  background-color: $basic-white;
}

.main-header__title {
  @include font (700, 18px, 26px, $basic-black);
  margin: 34px 0 30px;

  @media (min-width: $tablet) {
    font-size: 21px;
    padding-right: 3px;
  }

  @media (min-width: $desktop) {
    margin: 55px 0 31px;
  }
}

.main-header__title--margin {
  margin: 36px 0 28px;

  @media (min-width: $tablet) {
    margin: 62px 0 33px;
  }

  @media (min-width: $desktop) {
    margin: 112px 0 31px;
  }
}

.main-header__title--margin-catalog {
  margin: 32px 0 28px;

  @media (min-width: $tablet) {
    margin: 63px 0 35px;
  }

  @media (min-width: $desktop) {
    margin: 100px 0 34px;
  }
}

.main-header__title--size {
  @media (min-width: $tablet) {
    font-size: 30px;
  }
}

.main-header__text {
  @include font (400, 14px, 26px, $dark-grey);
}

.main-header__text--line-height {
  line-height: 24px;
}
