.main-header {
  background-color: $basic-white;
  padding-top: 33px;

  @media (min-width: $tablet) {
    padding-top: 44px;
  }

  @media (min-width: $desktop) {
    padding-top: 56px;
  }
}

.main-header__title {
  @include font (700, 18px, 26px, $basic-black);
  margin: 0 0 30px;

  @media (min-width: $tablet) {
    font-size: 21px;
    padding-right: 5px;
    padding-top: 2px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    margin-bottom: 31px;
  }
}

.main-header__title--margin {
  margin: 4px 0 28px;

  @media (min-width: $tablet) {
    margin: 18px 0 33px;
  }

  @media (min-width: $desktop) {
    margin: 56px 0 32px;
  }
}

.main-header__title--margin-catalog {
  margin: 0 0 28px;

  @media (min-width: $tablet) {
    margin: 19px 0 35px;
  }

  @media (min-width: $desktop) {
    margin: 44px 0 34px;
  }
}

.main-header__title--size {
  @media (min-width: $tablet) {
    font-size: 30px;
  }
}

.main-header__text {
  @include font (400, 14px, 26px, $dark-grey);
}

.main-header__text--line-height {
  line-height: 24px;
}
