@media (max-width: $mobile) {
  .page-main__wrapper {
    margin: 0 auto;
  }

  .page-main__header {
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .page-main__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .page-main__header {
    width: 490px;
    margin: 44px auto 54px;
  }
}

@media (min-width: $desktop) {
  .page-main__wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .page-main__header {
    margin: 44px auto 42px;
  }
}

.page-main__reason-one {
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

.page-main__other-reasons {
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 92px;
  }
}

.page-main__interest {
  margin: 0 auto;
}
