.page-header {
  background-color: $light-grey;
}

.page-header__wrapper {
  background-color: $basic-white;

  @media (min-width: $tablet) {
    width: 768px;
    margin: 0 auto;
    box-shadow: 0 15px 15px $page-shadow-black;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 186px;
  margin: 0 auto;
  z-index: 2;

  &-svg {
    width: 186px;
    height: 97px;
  }

  &-outline,
  &-clouds,
  &-base {
    display: none;
  }

  @media (min-width: $tablet) {
    &-clouds {
      display: inline;
    }
  }

  @media (min-width: $desktop) {
    &-outline,
    &-base {
      display: inline;
    }
  }
}
