.page-footer {
  background-color: $light-grey;
  overflow: hidden;
}

.page-footer__container {
  padding-top: 40px;
  background-color: $basic-white;

  @media (min-width: $tablet) {
    padding-top: 58px;
    width: 768px;
    margin: 0 auto;
    box-shadow: 0 0 15px $page-shadow-black;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto;
    padding-top: 66px;
  }
}

.page-footer__container--index {
  padding-top: 49px;


  @media (min-width: $tablet) {
    padding-top: 57px;
  }
}

.page-footer__container--form {
  padding-top: 8px;

  @media (min-width: $tablet) {
    padding-top: 40px;
  }

  @media (min-width: $desktop) {
    padding-top: 28px;
  }
}

.page-footer__map {
  padding-bottom: 20px;

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 8px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  @media (min-width: $tablet) {
    width: 651px;
    margin: 16px auto 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    width: 960px;
    margin: 36px auto 0;
  }
}

.page-footer__wrapper--index {
  margin-top: 21px;
}

.page-footer__copyright {
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    margin-top: -30px;
  }
}
