.page {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.page__body {
  min-height: 100%;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page__text-formating {
  @media (min-width: $tablet) {
    display: none;
  }
}

.page__text-formating--tablet {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }
}

.page__text-formating--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: inline;
  }
}
