.page-main {
  background-color: $light-grey;
  overflow: hidden;
}

.page-main--catalog {
  @media (max-width: $mobile) {
    background-color: $basic-white;
  }
}

@media (max-width: $mobile) {
  .page-main__wrapper {
    margin: 0 auto;
    background-color: $basic-white;
  }

  .page-main__wrapper--catalog {
    margin: 0 20px;
  }

  .page-main__header {
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .page-main__wrapper {
    width: 768px;
    margin: 0 auto;
    background-color: $basic-white;
    box-shadow: 0 0 15px $page-shadow-black;
  }

  .page-main__header {
    width: 490px;
    margin: 0 auto 54px;
  }
}

@media (min-width: $desktop) {
  .page-main__wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .page-main__header {
    margin: 0 auto 42px;
    padding-top: 55px;
  }
}

.page-main__reason-one {
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

.page-main__other-reasons {
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 78px;
  }
}

.page-main__interest {
  margin: 0 auto;
}

.page-main__form {
  margin: 17px 20px 0;
}

.page-main__gallery {
  margin: 32px 0 0 0;

  @media (min-width: $tablet) {
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    margin: 57px auto 0 0;
  }
}

.page-main__presentation {
  @media (max-width: $mobile) {
    margin: 32px auto 64px;
  }

  @media (min-width: $tablet) {
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
  }
}

.page-main__presentation-container {
  @media (min-width: $tablet) {
    background-color: white;
    width: 768px;
    margin: 0 auto;
    box-shadow: 0 14px 15px $page-shadow-black;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto;
  }
}
