.page-header {
  background-color: $basic-white;
}

.page-header__wrapper {
  @media (min-width: $tablet) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto;
  }
}

.page-header__logo {
  position: absolute;
  top: -56px;
  right: 0;
  left: 0;
  width: 186px;
  margin: 0 auto;

  &-svg {
    width: 186px;
    height: 97px;
  }

  &-outline,
  &-clouds,
  &-base {
    display: none;
  }

  @media (min-width: $tablet) {
    &-clouds {
      display: inline;
    }
  }

  @media (min-width: $desktop) {
    &-outline,
    &-base {
      display: inline;
    }
  }
}
