.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    width: 651px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto;
  }
}
