.page-footer__title {
  @include font (700, 21px, 26px, $basic-black);
  margin-bottom: 32px;
}

.social__list {
  width: 151px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 32px 0;
  padding: 0;

  @media (min-width: $tablet) {
    padding-right: 9px;
  }
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $basic-blue;
}

.social__link--twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--facebook {
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}
