.gallery {
  @media (min-width: $tablet) {
    width: 648px;
  }

  @media (min-width: $desktop) {
    width: 1200px;
  }
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    padding-top: 20px;
  }
}

.gallery__list--layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }
}

.gallery__item {
  padding-top: 22px;
  padding-bottom: 16px;
  position: relative;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    position: relative;
    padding-bottom: 0;
  }
}

@media (max-width: $mobile) {
  .gallery__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: $hover-grey;
  }

  .gallery__item::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: $hover-grey;
  }
}

.gallery__item--secondary {
  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    padding-bottom: 0;
  }
}

.gallery__photo {
  display: block;

  @media (min-width: $tablet) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop) {
    width: 400px;
    height: 267px;
  }
}

.gallery__photo--main {
  @media (min-width: $tablet) {
    width: 648px;
    height: 400px;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    height: 400px;
  }
}
