.gallery {
  @media (min-width: $tablet) {
    width: 648px;
  }

  @media (min-width: $desktop) {
    width: 1200px;
  }
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__list--layout {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  padding-top: 22px;
  padding-bottom: 17px;

  @media (min-width: $tablet) {
    padding-top: 22px;
    padding-bottom: 9px;
  }

  @media (min-width: $desktop) {
    position: relative;
    padding-bottom: 0;
  }
}

.gallery__item--secondary {
  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 9px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 0;
  }
}

.gallery__photo {
  display: block;

  @media (min-width: $tablet) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop) {
    width: 400px;
    height: 267px;
  }
}

.gallery__photo--main {
  @media (min-width: $tablet) {
    width: 648px;
    height: 400px;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    height: 400px;
  }
}
