.presentation {
  @media (max-width: $mobile) {
    width: 320px;
  }

  @media (min-width: $tablet) {
    width: 648px;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.presentation__header {
  @media (min-width: $tablet) {
    width: 505px;
    margin: 0 auto 80px auto;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 78px auto;
  }
}

.presentation__title {
  @include font (700, 18px, 26px, $basic-black);
  margin: 0 0 28px 0;

  @media (min-width: $tablet) {
    font-size: 30px;
    margin: 0 0 33px 0;
  }
}

.presentation__text {
  @include font (400, 14px, 24px, $dark-grey);
  margin: 0 30px 34px 30px;
}
