.video {
  position: relative;

  @media (min-width: $tablet) {
    position: relative;
  }
}

.video__controls {
  width: 280px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -66px;

  @media (min-width: $tablet) {
    padding-bottom: 14px;
    padding-top: 14px;
    width: 648px;
    bottom: 0;
    right: 0;
    left: 0;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.video__player {
  display: block;
  background-color: $basic-black;

  @media (max-width: $mobile) {
    width: 320px;
    height: 201px;
  }

  @media (min-width: $tablet) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop) {
    width: 800px;
    height: 500px;
  }
}

.video__bar-container {
  background-color: $basic-td-black;
  padding: 20px 20px 20px 20px;

  @media (min-width: $tablet) {
    padding: 32px 0 27px 0;
    display: inline-block;
  }
}

.video__bar {
  width: 235px;
  height: 3px;
  background-color: $basic-t-white;
  position: relative;

  @media (min-width: $tablet) {
    width: 389px;
  }

  @media (min-width: $desktop) {
    width: 539px;
  }
}

.video__progress-handle {
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: $basic-white;
  position: absolute;
  top: -3px;
  left: 38px;
}

.video__button {
  border: none;
  background-color: transparent;
}

.video__button-replay {
  padding: 22px 27px 20px 25px;
  float: left;

  @media (min-width: $tablet) {
    margin-left: 10px;
  }
}

.video__button-fullscreen {
  padding: 23px 23px 20px 15px;
  float: right;

  @media (min-width: $tablet) {
    margin-right: 18px;
  }
}

.video__button-subtitles {
  padding: 23px 16px 20px 25px;
  float: right;
}

.video__element-outline {
  fill: $strange-grey;
}

.video__button:hover .video__element-outline {
  fill: $dark-grey;
}

.video__button:active .video__element-outline {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .video__element-outline {
    fill: $basic-white;
  }

  .video__button:hover .video__element-outline {
    fill-opacity: 0.6;
  }

  .video__button:active .video__element-outline {
    fill-opacity: 0.3;
  }
}
