// colors
$basic-blue: #81b3d2;
$hover-blue: #669ec0;
$item-down-blue: #5496bd;
$basic-grey: #eeeeee;
$dark-grey: #333333;
$light-grey: #f2f2f2;
$hover-grey: #e5e5e5;
$item-down-grey: #d5d5d5;

// global-colors

$nav-color: $basic-blue;
$text-input-color: $light-grey;

// font-paramets
$basic-black: #000000;
$basic-white: #ffffff;

// mixins
@mixin font ($font-weight, $font-size, $line-height, $color) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
