// colors
$basic-blue: #81b3d2;
$hover-blue: #669ec0;
$item-down-blue: #5496bd;
$basic-grey: #eeeeee;
$dark-grey: #333333;
$light-grey: #f2f2f2;
$hover-grey: #e5e5e5;
$contacts-grey: #e6e6e6;
$item-down-grey: #d5d5d5;
$strange-grey: #5c6870;
$weird-grey: #dbdbdb;
$basic-black: #000000;
$basic-t-black: rgba(0, 0, 0, 0.3);
$basic-td-black: rgba(0, 0, 0, 0.6);
$basic-white: #ffffff;
$basic-t-white: rgba(255, 255, 255, 0.2);

// global-colors

$nav-color: $basic-blue;
$text-input-color: $light-grey;
$form-lines: $weird-grey;
$text-area-input: $light-grey;

// viewport

$mobile: 767px;
$tablet: 768px;
$desktop: 1280px;

// mixins
@mixin font ($font-weight, $font-size, $line-height, $color) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
