.form-fieldset {
  text-align: left;
  border: none;
  margin: 0 0 0 0;
  padding: 0;
  min-width: initial;
  position: relative;
}

@media (max-width: $mobile) {
  .form-fieldset::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;
    width: 120%;
    height: 1px;
    background-color: $form-lines;
  }
}

.form__impressions-group {
  @media (min-width: $tablet) {
    position: relative;
  }
}

.form__impressions-group::after {
  content: "";
  position: absolute;

  @media (min-width: $tablet) {
    top: 34px;
    right: 0;
    width: 1px;
    height: 292px;
    background-color: $form-lines;
  }

  @media (min-width: $desktop) {
    top: 20px;
    right: -1px;
  }
}
