.form {
  display: grid;
  min-width: 280px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    width: 648px;
    margin: 0 auto;

    .form__impressions-group {
      order: -1;
    }

    .form__contacs-group {
      grid-column: 1/-1;
    }

    .form__landmarks-group {
      grid-column: 1/-1;
    }

    .form__describe-emotions-group {
      grid-column: 1/-1;
    }

    .form__send-group {
      grid-column: 1/-1;
    }
  }

  @media (min-width: $desktop) {
    width: 960px;
    margin: 0 auto;
  }
}

.form__title {
  @include font (700, 18px, 26px, $basic-black);
  text-align: center;
  margin: 21px 0 20px;

  @media (min-width: $tablet) {
    font-size: 21px;
  }
}

.form__title--lines {
  position: relative;
}

@media (min-width: $tablet) {
  .form__title--lines::before {
    content: "";
    position: absolute;
    top: 42%;
    left: 0;
    width: 18.98%;
    height: 1px;
    background-color: $form-lines;
  }

  .form__title--lines::after {
    content: "";
    position: absolute;
    top: 42%;
    right: 0;
    width: 18.98%;
    height: 1px;
    background-color: $form-lines;
  }

  @media (min-width: $desktop) {
    .form__title--lines::before,
    .form__title--lines::after {
      width: 29.1%;
    }
  }
}

.form__naming-group {
  @media (min-width: $tablet) {
    min-width: 323px;
  }

  @media (min-width: $desktop) {
    min-width: 479px;
  }
}

.form__title--naming {
  @media (min-width: $tablet) {
    margin: 33px 0 54px -50px;
  }

  @media (min-width: $desktop) {
    margin: 19px 0 54px 80px;
    text-align: left;
  }
}

.form__naming-list {
  list-style: none;
  margin-top: 19px;
  margin-bottom: 24px;
  padding: 0;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.form__naming-item {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    margin: 0 0 20px 58px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 20px 80px;
  }
}

.form__naming-input {
  flex: 1;
}

.form__get-text-label {
  @include font (400, 14px, 26px, $dark-grey);
  text-align: left;

  @media (min-width: $tablet) {
    margin-top: 3px;
  }
}

.form__get-text-label--margin {
  margin-left: 22px;

  @media (min-width: $tablet) {
    margin-left: 22px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.form__input-text {
  width: 158px;
  padding: 25px 0 18px 21px;
  margin-left: 13px;
  border: none;
  background-color: $text-input-color;
}

.form__input-text:hover {
  background-color: $hover-grey;
}

.form__input-text:active {
  background-color: $basic-white;
}

.form__input-text::-webkit-input-placeholder {
  @include font (700, 18px, 26px, $dark-grey);
  font-family: "PT Sans", sans-serif;
  text-transform: none;
}

.form__title--contacts {
  margin: 21px 0 0 0;

  @media (min-width: $tablet) {
    margin: 35px 0 0 0;
  }

  @media (min-width: $desktop) {
    margin: 32px 0 0 0;
  }
}

.form__contacts-list {
  list-style: none;
  margin: 18px 0 27px;
  padding: 0;

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.from__contacts-item {
  margin-bottom: 13px;
  position: relative;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    margin-top: 45px;
  }
}

.form__input-text--contacts {
  width: 100%;
  margin: 7px 0 0 0;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    margin: 9px 0 0 0;
  }

  @media (min-width: $desktop) {
    width: 315px;
    margin: 9px 0 0 11px;
  }
}

.form__phone-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 58px;
  height: 58px;
  background: $contacts-grey url("../img/form/phone.svg") no-repeat center;
}

.form__email-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 58px;
  height: 58px;
  background: $contacts-grey url("../img/form/email.svg") no-repeat center;
}

.form__radio-item:last-of-type {
  margin: 0 0 41px 78px;

  @media (min-width: $tablet) {
    margin: 0 0 52px 75px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 52px 79px;
  }
}

.form__radio-item {
  margin: 0 0 43px 78px;

  @media (min-width: $tablet) {
    margin: 0 0 52px 75px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 52px 79px;
  }
}

.form__impression-label {
  @include font (700, 18px, 26px, $basic-black);
  text-transform: none;
  position: relative;
}

.form__radio-list {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}

.form__title--impressions {
  margin: 21px 0 37px;

  @media (min-width: $tablet) {
    margin: 33px 0 72px -52px;
  }

  @media (min-width: $desktop) {
    margin: 19px 0 72px -50px;
  }
}

.form__impression-label::before {
  content: "";
  position: absolute;
  top: -17px;
  left: -78px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $light-grey;

  @media (min-width: $tablet) {
    left: -75px;
  }
}

.form__radio-input:checked + .form__impression-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -61px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $dark-grey;

  @media (min-width: $tablet) {
    left: -58px;
  }
}

.form__impression-label:hover::before {
  background-color: $hover-grey;
}

.form__impression-label:active::before {
  background-color: $item-down-grey;
}

.form__impression-label:active::after {
  opacity: 0.3;
}

.form__title--landmarks {
  margin: 16px 0 36px;

  @media (min-width: $tablet) {
    margin: 24px 0 58px;
  }

  @media (min-width: $desktop) {
    margin: 1px 0 59px;
  }
}

.form__landmarks-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    width: 470px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    width: 960px;
    margin: 0 auto;
    flex-direction: row;
  }
}

.form__landmarks-item {
  margin-left: 79px;
  margin-bottom: 54px;

  @media (min-width: $tablet) {
    margin-left: 40px;
    margin-bottom: 62px;
    padding-left: 46px;
    width: 125px;
  }

  @media (min-width: $desktop) {
    margin-left: 35px;
  }
}

.form__landmarks-item:last-of-type {
  margin-left: 79px;
  margin-bottom: 39px;

  @media (min-width: $desktop) {
    margin-left: 17px;
  }
}

.form__landmark-label {
  @include font (700, 18px, 26px, $basic-black);
  display: block;
  text-transform: none;
  position: relative;
}

.form__landmark-label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -80px;
  width: 56px;
  height: 56px;
  background: $light-grey;
}

.form__checkbox-input:checked + .form__landmark-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -64px;
  width: 21px;
  height: 12px;
  transform: rotate(-45deg);
  border-left: 4px solid $basic-black;
  border-bottom: 4px solid $basic-black;
  border-radius: 2px;
}

.form__landmark-label:hover::before {
  background: $hover-grey;
}

.form__landmark-label:active::before {
  background-color: $item-down-grey;
}

.form__landmark-label:active::after {
  opacity: 0.3;
}

.form__title--textarea {
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin: 23px 0 54px 0;
  }

  @media (min-width: $desktop) {
    margin: 20px 0 55px 0;
  }
}

.form__textarea {
  padding: 14px 0 29px 21px;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  border: none;
  background-color: $text-area-input;

  @media (min-width: $tablet) {
    padding: 18px 0 32px 21px;
  }

  @media (min-width: $desktop) {
    padding: 18px 0 29px 21px;
  }
}

.form__textarea:hover {
  background-color: $hover-grey;
}

.form__textarea:active {
  background-color: $basic-white;
}

.form__textarea::-webkit-input-placeholder {
  @include font (700, 18px, 26px, $dark-grey);
  font-family: "PT Sans", sans-serif;
  text-transform: none;
}

.form__send-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 36px;
  }
}

.form__send-button {
  margin-top: 48px;
  width: 100%;


  @media (min-width: $tablet) {
    width: 324px;
    margin-top: 54px;
  }

  @media (min-width: $desktop) {
    width: 480px;
  }
}

.form__legend {
  @include font (700, 14px, 26px, $dark-grey);
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    align-items: flex-end;
  }
}

.form__desktop-hidden {
  @media (min-width: $desktop) {
    display: none;
  }
}
